doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../../../favicon.ico')
    title testorange safe
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,400,500,700', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
    link(rel='stylesheet' type='text/css' media='screen' href='/styles/main.css')
  body
    header
      .container
        div
          a.logo(href='#') testorange
    section#connect
      .container
        div
          h1 Connect to Begin
        div
          button.btn-outline
            b Connect Safe
            | Trek
      hr
    section#alert
      .container
        div
          h1 Safety Alert
        div
          button.alert-btn Danger
        div
          button.injury-btn Injury
        .warning
          p
            i.fas.fa-exclamation-circle
            |  Buttons above will alert local emergency services.
    hr
    section#info
      .container
        div
          h2 Safety Tips
        div
          h3 LiveSafe App
          p
            | Advisory messages are not life-threatening and may include campus incidents such as a power outage or a water leak. Using active geofence location, advisories target specific areas where an incident is occurring. To receive these advisories, please be sure to enable location-services on your smartphone. ASU Alerts, life-threatening situations such as a major fire or an armed suspect on campus, are sent via these methods
          button.btn-outline
            | Learn more 
            i.fas.fa-chevron-circle-right
    hr
    footer
      .container
        div
          p © 2018 - Dick Wyn Yong
        div
          p
            | Learn more at 
            a(href='https://www.safetrekapp.com/', target='_blank') safetrekapp.com