#connect .container,
#alert .container,
#info .container {
    display: grid;
    justify-items: center;
    margin: 1em 1em 1em;
}

#info .container div {
    max-width: 540px;
}

#connect .btn-outline {
    border: 2px solid $darkprimary;
    background-color: transparent;
    color: $darkprimary;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 8px;
}

#connect .btn-outline:hover {
    background: $primary;
    color: $icon;
}

.alert-btn {
    background-color: transparent;
    border: 3px dotted $alert;
    color: $alert;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.alert-btn:hover {
    background: $alert;
    color: $icon;
}

.injury-btn {
    background-color: $accent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    height: 38px;
    width: 120px;
    border-radius: 8px;
}

.injury-btn:hover {
    background: $lightaccent;
    color: $icon;
}

.fa-exclamation-circle {
    color: $alert;
}

.warning p {
    font-weight: 300;
    font-size: 0.8em;
    margin: 1em 0em 0em;
    color: black;
}

#info .nested {
    display: grid;
    border: 2px dashed gray;
    border-radius: 8px;
    padding: 1em;
}

#info h1 {
    margin: 0em;
}

.action {
    justify-self: end;
}

#info .btn-outline {
    border: 1px solid $secondarytext;
    background: transparent;
    color: $secondarytext;
    padding: 0.3em 0.8em;
    font-size: 16px;
    border-radius: 8px;
    text-transform: lowercase;
}

#info .btn-outline:hover {
    background-color: $secondarytext;
    color: $icon;
}

.fa-chevron-circle-right {
    font-size: 0.8em;
}

hr {
    border: 0;
    max-width: 640px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}