section .container {
    display: grid;
    justify-items: center;
    margin: 1em 1em 1em;
}

#disconnected {
    display: inline;
}

#disconnected  .nested {
    display: grid;
    padding: 0em 1em;
}

#disconnected  .container div {
    max-width: 540px;
}

#disconnected h1 {
    margin-bottom: 0em;
}

#disconnected p {
    line-height: 2em;
}

#disconnected .safetrek-btn {
    border: 2px solid $darkprimary;
    background-color: transparent;
    color: $darkprimary;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 8px;
}

#disconnected .safetrek-btn:hover {
    background: $primary;
    color: $icon;
}

#disconnected .btn {
    justify-self: center;
}

#connected .safetrek-btn {
    border: 2px solid $darkprimary;
    background-color: $darkprimary;
    color: $icon;
    padding: 7px 12px;
    font-size: 12px;
    border-radius: 8px;
}

#connected {
    display: none;
}

#connected .safetrek-btn:hover {
    background: $primary;
    color: $icon;
}

#connected .btn {
    margin-top: 1em;
}

#connected .alert-btn {
    background-color: transparent;
    border: 3px dotted $alert;
    color: $alert;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

#connected .alert-btn:hover {
    background: $alert;
    color: $icon;
}

#connected .injury-btn {
    background-color: $accent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    height: 38px;
    width: 120px;
    border-radius: 8px;
}

#connected .injury-btn:hover {
    background: $lightaccent;
    color: $icon;
}

#connected .fa-exclamation-circle {
    color: $alert;
}

#connected .warning p {
    font-weight: 300;
    font-size: 0.8em;
    margin: 1em 0em 0em;
    color: black;
}

#info .nested {
    display: grid;
    border: 3px dotted $divider;
    border-radius: 8px;
    padding: 1em;
}

#info .container div {
    max-width: 540px;
}

#info h1 {
    margin: 0em;
}

#info p {
    line-height: 1.5em;
}

#info .moreinfo {
    justify-self: end;
}

#info .moreinfo button {
    border: 1px solid $secondarytext;
    background: transparent;
    color: $secondarytext;
    padding: 0.3em 0.8em;
    font-size: 16px;
    border-radius: 8px;
    text-transform: lowercase;
}

#info .moreinfo button:hover {
    background-color: $secondarytext;
    color: $icon;
}

#info .fa-chevron-circle-right {
    font-size: 0.8em;
}

hr {
    border: 0;
    max-width: 640px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}