html {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header .container {
    display: grid;
    justify-items: center !important;
}

header {
    overflow: hidden;
    background-color: orange;
    min-width: 100%;
}

header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}

header a:hover {
    background-color: #ddd;
    color: black;
}

header a.active {
    background-color: dodgerblue;
    color: white;
}